@page "/help"
@model WiredBrainCoffeeAdmin.Pages.HelpModel
@{
}

<h1>Service Desk</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Request Help
            </div>
            <div class="card-body">
                <h5 class="card-title">Contact our IT Team</h5>
                <p class="card-text">Having an issue with the site? Let us know!</p>
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="NewTicket.Title">Title</label>
                        <input asp-for="NewTicket.Title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewTicket.Description">Description</label>
                        <textarea asp-for="NewTicket.Description" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Current Issues</h2>
        <hr />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sample title 1</td>
                    <td>Sample description 1</td>
                    <td>Sample status 1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sample title 2</td>
                    <td>Sample description 2</td>
                    <td>Sample status 2</td>
                </tr>
        </table>
    </div>
</div>


@section RightFooter {
    <p>Call us at: 123-456-7890</p>
    <p>Hours of operation: 9am to 4pm</p>
}