@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid dashboard">
    <h1 class="h2">Welcome to Wired Brain Coffee!</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Request Help
                </div>
                <div class="card-body">
                    <h5 class="card-title">Contact our IT Team</h5>
                    <p class="card-text">Having an issue with the site? Let us know!</p>
                    <a asp-page="help" class="btn btn-success">Request Help</a>
                </div>
            </div>
        </div>
    </div>
</div>