@page "/menu"
@model WiredBrainCoffeeAdmin.Pages.ViewMenuItemsModel
<h1 class="h2">All Menu Items <a asp-page="AddMenuItem" class="btn-success btn float-end">Add New</a></h1>
<hr />
<div class="table-responsive">
    @await Component.InvokeAsync("MenuItemsList")
</div>
