@page "/products/edit/{id:int}"
@model WiredBrainCoffeeAdmin.Pages.Products.EditProductModel
@{
}
<h1>Edit Product</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <partial name="HelpWidget" />
    </div>
</div>